<div class="container">
    <div class="loginContainer">
        <form class="form">
            <div>
                <label for="">Username: </label>
                <input type="text" required name="" id="">
            </div>
            <div>
                <label for="">E-mail: </label>
                <input required type="email">
            </div>
            <div>
                <label for="">Password: </label>
                <input required type="password">
            </div>
            <div>
                <label for="">Password again: </label>
                <input required type="password" name="" id="">
            </div>
            <div>
                <button>Register</button>
            </div>
        </form>
    </div>
</div>