<div class="container">
    <div class="loginContainer">
        <form #form class="form" ngNativeValidate
            (ngSubmit)="onSubmit(username.value,email.value, pass1.value, pass2.value)">
            <div>
                <label for="">Username: </label>
                <input #username type="text" required name="" id="">
            </div>
            <div>
                <label for="">E-mail: </label>
                <input #email required type="email">
            </div>
            <div>
                <label for="">Password: </label>
                <input #pass1 required type="password">
            </div>
            <div>
                <label for="">Password again: </label>
                <input #pass2 required type="password" name="" id="">
            </div>
            <div>
                <button>Register</button>
            </div>
            <div id="hiba" style="color: red; font-size: 1.25rem;"></div>
        </form>
    </div>
</div>