<div class="container">
    <div class="formContainer">
        <form #form class="form" ngNativeValidate>
            <div>
                <div>
                    <label for="">New Password</label>
                    <input #pass1 required type=" text">
                </div>
                <div>
                    <label for="">New Password again</label>
                    <input #pass12 required type=" text">
                </div>
            </div>
            <div>
                <button>Change</button>
            </div>
        </form>
    </div>
</div>