<div class="container">
    <div class="formContainer">
        <form #form class="form" ngNativeValidate (ngSubmit)="onSubmit(pass1.value, pass2.value)">
            <div>
                <div>
                    <label for="">New Password</label>
                    <input #pass1 required type="password">
                </div>
                <div>
                    <label for="">New Password again</label>
                    <input #pass2 required type="password">
                </div>
            </div>
            <div>
                <button>Change</button>
            </div>
        </form>
    </div>
</div>