<div class="container">
    <div class="artistInfo">
        <h1>Artist: {{userName}}</h1>
    </div>
    <div class="upSection">
        <div class="canvasContainer">
            <canvas #canvas></canvas>
        </div>
        <div class="imageInfo">
            <h1 class="tagsLabel">Tags:</h1>
            @if(hashtags.length > 0)
            {
            <div class="hashtagsContainer">
                <div class="hashtags" *ngFor="let item of hashtags">
                    {{ item }}
                </div>
            </div>
            }
            @else
            {
            <p>This drawing doesn't have any tags...</p>
            }
            <div class="desc">
                <h2 class="descLabel">
                    Description:
                </h2>
                @if(description != '')
                {

                <p class="description">{{description}}</p>
                }
                @else
                {
                <p>This drawing doesnt have a description...</p>
                }
            </div>
        </div>
    </div>
    <div class="comments">
        <div class="commentWrite">
            <img src="assets/pfp.png" class="pfp" alt="Profilkép">
            <div class="inputWrapper">
                <input type="text" placeholder="Add a comment..." />
                <button class="sendBtn">Send</button>
            </div>
        </div>
    </div>
</div>