.center {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid rgba(81, 255, 0, 0.75);
  padding: 0rem 5rem;
  border-radius: 1rem;
  text-align: center;
  color: #6dffff;
  max-width: 20rem;
  max-height: 25rem;
  min-height: 25rem;
  position: relative;
}

.card > *:not(.bottom) {
  flex-grow: 0; /* Ne osztódjon el a tér, minden maradjon fent */
}

.name {
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 1rem; /* Kis távolság a név alatt */
  white-space: normal; /* Mindkettő természetesen törik */
}

.bottom {
  position: absolute;
  bottom: 0.1rem; /* Most 0.1rem a margó */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .card {
    padding: 2rem 2rem;
    font-size: 0.8rem;
  }
}
