.container {
  margin-top: 2rem;
  margin-left: 2rem;
}

.drawingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 80vh;
  width: 100%;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: 1px solid rgba(81, 255, 0, 0.75);
  padding: 2rem 5rem;
  border-radius: 1rem;
  text-align: center;
}
