.center {
  display: flex;
  justify-content: center;
}

.delete {
  position: absolute;
  font-size: 2rem;
  color: red;
  top: 0.6rem;
  right: 0.33rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}


.edit {
  position: absolute;
  font-size: 2rem;
  color: white;
  top: 0.75rem;
  left: 0.75rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.delete:hover {
  color: rgb(81, 255, 0);
}

.edit:hover {
  color: rgb(81, 255, 0);
  font-size: 2.5rem;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid rgba(81, 255, 0, 0.75);
  border-radius: 1rem;
  text-align: center;
  color: #6dffff;
  max-width: 20rem;
  min-width: 20rem;
  max-height: 25rem;
  min-height: 25rem;
  position: relative;
}

.card>*:not(.bottom) {
  flex-grow: 0;
  /* Ne osztódjon el a tér, minden maradjon fent */
}

.name {
  text-align: center;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  /* Megakadályozza a sortörést */
  overflow: hidden;
  /* Elrejti a kilógó részt */
  text-overflow: ellipsis;
  /* Három ponttal jelzi a levágást */
  width: 90%;
  /* Biztosítja, hogy kitöltse a szülőt */
  max-width: 90%;
}

.bottom {
  position: absolute;
  bottom: 0.1rem;
  /* Most 0.1rem a margó */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .card {
    padding: 2rem 2rem;
    font-size: 0.8rem;

    max-width: 16rem;
    min-width: 16rem;
  }
}