@if(user_id != readLocalStorageValue("id")) {
<div class="drawingsContainer">
  <div class="card">
    <h1 (click)="checkComments()" class="name">{{ name }}</h1>
    <canvas style="cursor: pointer" (click)="onClick()" #canvas></canvas>
    @if(hashtags.length > 0) {
    <div class="hashtagsContainer">
      <div class="hashtags" *ngFor="let item of hashtags">
        {{ item }}
      </div>
    </div>
    }
    <span (click)="checkComments()" class="material-symbols-outlined comments">
      forum
    </span>
    @if(canBeEdited == 1) {
    <span (click)="onEdit()" class="material-symbols-outlined edit">
      draw
    </span>
    } @if(forked) {
    <span class="material-symbols-outlined forkOther"> graph_1 </span>
    <h3 style="font-size: 0.95rem; cursor: pointer; letter-spacing: 0.1rem" (click)="checkProfile()" class="bottomO">
      Made by:
      {{ user_name }}
    </h3>
    } @else {
    <h3 style="font-size: 0.95rem; cursor: pointer; letter-spacing: 0.1rem" (click)="checkProfile()" class="bottomO">
      Made by:
      {{ user_name }}
    </h3>
    }

    <div class="vote-container">
      <button (click)="upVote(likeBtn, dislikeBtn)" class="vote-button upvote">
        <i #likeBtn class="fas fa-arrow-up" [class.active-up]="user_vote === 1"></i>
      </button>
      <div id="vote-count">{{likes}}</div>
      <button (click)="downVote(likeBtn, dislikeBtn)" class="vote-button downvote">
        <i #dislikeBtn class="fas fa-arrow-down" [class.active-down]="user_vote === -1"></i>
      </button>
    </div>
  </div>
</div>
} @else {
<div class="drawingsContainer">
  <div class="card">
    @if(profil) {
    <i (click)="onDelete()" class="far fa-times-circle delete"></i>
    } @if(canBeEdited == 1) {
    <span (click)="onEdit()" class="material-symbols-outlined edit">
      draw
    </span>
    }

    <h1 (click)="checkComments()" class="name">{{ name }}</h1>
    <canvas style="cursor: pointer" (click)="onClick()" #canvas></canvas>

    @if(hashtags.length > 0) {
    <div class="hashtagsContainer">
      <div class="hashtags" *ngFor="let item of hashtags">
        {{ item }}
      </div>
    </div>
    } @if (!profil) {
    <span (click)="checkComments()" class="material-symbols-outlined comments">
      forum
    </span>
    } @if(!profil) { @if(forked) {
    <span class="material-symbols-outlined fork"> graph_1 </span>
    <h3 (click)="moveToProfil()" style="font-size: 0.95rem; letter-spacing: 0.1rem" class="bottomY">
      Your drawing
    </h3>
    } @else {
    <h3 (click)="moveToProfil()" style="font-size: 0.95rem; letter-spacing: 0.1rem" class="bottomY">
      Your drawing
    </h3>
    } } @else { @if(forked) {
    <span class="material-symbols-outlined fork"> graph_1 </span>
    <h3 style="
        font-size: 0.95rem;
        letter-spacing: 0.1rem;
        color: #33a100;
        cursor: auto;
      " class="bottomY">
      Your drawing
    </h3>
    } @else {
    <h3 style="
        font-size: 0.95rem;
        letter-spacing: 0.1rem;
        color: #33a100;
        cursor: auto;
      " class="bottomY">
      Your drawing
    </h3>
    } }
    <div class="vote-container">
      <button (click)="upVote(likeBtn, dislikeBtn)" class="vote-button upvote">
        <i #likeBtn class="fas fa-arrow-up" [class.active-up]="user_vote === 1"></i>
      </button>
      <div id="vote-count">{{likes}}</div>
      <button (click)="downVote(likeBtn, dislikeBtn)" class="vote-button downvote">
        <i #dislikeBtn class="fas fa-arrow-down" [class.active-down]="user_vote === -1"></i>
      </button>
    </div>
  </div>
</div>
}