<div class="drawingsContainer">
    @if(data.length > 0)
    {
    <div *ngFor="let item of data" class="drawings">
        <app-drawing-card [forkedFrom]="item.forkedFrom" [canBeEdited]="item.canBeEdited" [profil]="true" [forked]="item.forked" [name]="item.name"
            [user_id]="item.user_id" [image_id]="item.image_id" [width]="item.width" [user_name]="item.user_name"
            [hexCodes]="item.hex_codes"></app-drawing-card>
    </div>
    }
    @else
    {
    <h1>You dont have any drawings yet...</h1>
    }
</div>