@if(logged_in)
{
<nav class="navbar">
    <div class="left">
        <a routerLink="/guest"><img src="assets/1024x.png" class="logo" alt=""></a>
        <h1 (click)="navigateMain()" class="asd" style="color: rgb(81, 255, 0);">PixelArtSpotlight</h1>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
        @if (menuOpen) {
        ✕
        }
        @else {
        ☰
        }
    </div>
    <div class="right" [class.active]="menuOpen">
        <a [class.active]="drawingOpen" #newdrawing routerLink="/new-drawing">New Drawing</a>
        <a [class.active]="galleryOpen" #gallery routerLink="/gallery">Gallery</a>
        <a [class.active]="profilOpen" #profil routerLink="/profil">Profile</a>
        <a (click)="onLogout()">Logout</a>
    </div>
</nav>

}

@else
{
<nav class="navbar">
    <div class="left">
        <a style="cursor: pointer;" routerLink="/guest"><img src="assets/1024x.png" class="logo" alt=""></a>
        <h1 (click)="navigateGuest()" class="asd" style="color: rgb(81, 255, 0);">PixelArtSpotlight</h1>
    </div>
    <!-- Hamburger Menü (Mobilra) -->
    <div class="hamburger" (click)="toggleMenu()">
        @if (menuOpen) {
        ✕
        }
        @else {
        ☰
        }
    </div>
    <div class="right" [class.active]="menuOpen">
        <a [class.active]="galleryOpen" routerLink="/gallery">Gallery</a>
        <a [class.active]="loginOpen" routerLink="/login">Login</a>
        <a [class.active]="registerOpen" routerLink="/register">Register</a>
    </div>
</nav>
}