@if(showDialog)
{
<div class="dialogContainer">
    <div class="dialog">
        <div class="selectSize">
            <div>
                <input #height required type="text" placeholder="Height: ">
            </div>
            <div>
                <input #width required type="text" name="" placeholder="Width:" id="">
            </div>
        </div>
        <div class="dialogButtons">
            <button (click)="showDialog = false">Back</button>
            <button (click)="changeSize(height.value,width.value)">OK</button>
        </div>
    </div>
</div>
}
<div class="container">
    <div class="buttons">
        <button (click)="openDialog()">New</button>
        <button>Edit</button>
    </div>
    <div class="canvasContainer">
        <canvas #canvas>

        </canvas>
    </div>
</div>