@if(showDialog)
{
<div class="dialogContainer">
    <div class="dialog">
        <div class="selectSize">
            <div>
                <input (change)="forceHeight()" #height style="width: 5rem;" required type="text" type="number"
                    max="150" min="1" id="height" placeholder="Height: "> PX
            </div>
            <div>
                <input (change)="forceWidth()" #width style="width: 5rem;" required type="number" max="150" min="1"
                    placeholder="Width:" id="width">
                PX
            </div>
        </div>
        <div class="dialogButtons">
            <button class="dialogButton" (click)="showDialog = false">Back</button>
            <button class="dialogButton" (click)="changeSize(height.value,width.value)">OK</button>
        </div>
    </div>
</div>
}

@if(savingDialog)
{
<div class="savingContainer">
    <div class="savingDialog" (clickOutside)="onClickOutside($event)">
        <form (ngSubmit)="onSave(name.value, canBeEdited.checked)" class="inputs">
            <div style="display: flex; flex-direction: column;">
                <input class="saveInput" #name required type="text" placeholder="Name: ">
                <input (input)="checkHashtag(hashtags.value)" class="saveInput" #hashtags required type="text"
                    placeholder="Hashtags: ">
                @if(hashtags.value.length > 0)
                {
                <div *ngIf="showDropdown" class="dropdown-wrapper">
                    <div class="custom-dropdown">
                        <div class="dropdown-options">
                            @if(options.length > 0)
                            {
                            <div class="dropdown-option" *ngFor="let asd of options; trackBy: trackByFn"
                                (click)="selectOption(asd,0)">
                                {{ asd.name }}
                            </div>
                            }
                            @else{
                            <div class="dropdown-option" (click)="selectOption(hashtags.value, 1)">
                                New hashtag
                            </div>
                            }
                        </div>
                    </div>
                </div>

                }
                <div id="hashtagss">

                </div>
                <div class="check" style="display: flex; margin: 1.5rem auto;">
                    <label style="font-family: Minecraft;" for="">Others can fork/edit</label>
                    <div style="margin-left: 0.725rem;" class="checkbox-wrapper-22">
                        <label class="switch" for="checkbox">
                            <input checked #canBeEdited type="checkbox" id="checkbox" />
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="dialogButtons">
                <button class="dialogButton" (click)="saveHashtags()">Save</button>
                <button class="dialogButton" (click)="savingDialog = false">Cancel</button>
            </div>
        </form>
    </div>
</div>
}

<div class="buttons">
    <button (click)="openDialog()">New</button>
    <button (click)="clear()">Clear</button>
    <button (click)="openSaveDialog()">Save</button>
</div>
<div class="container">
    <div class="drawArea">
        <div class="tools">
            <div>
                <button class="color toolButton"><span class="colorLabel">Color: </span><p-colorPicker id="picker"
                        appendTo="body" class="colorPicker" [inline]="false"
                        [(ngModel)]="color"></p-colorPicker></button>

            </div>
            <div class="flood">
                <button id="bucket" class="toolButton" (click)="toggleBucketMode()">
                    <span class="material-icons bucket">
                        format_color_fill
                    </span>
                </button>
            </div>
            <div class="pipetta">
                <button #pipette id="pipette" class="toolButton" [ngClass]="{ 'active': pipette }"
                    (click)="togglePipetteMode()">
                    <span class="material-icons bucket">
                        colorize
                    </span>
                </button>
            </div>
        </div>
        <div class="canvasContainer">
            <canvas #canvas>

            </canvas>
        </div>
    </div>
</div>