* {
  user-select: none;
  /* Tiltja a szöveg kijelölését */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  border: none;
  border-radius: 0.75rem;
  background-color: #006391;
  color: white;
  height: 3rem;
  width: 8rem;
  margin-top: 1rem;
  font-family: "HISKYFLIPPERHIBOLD", serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 15px 40px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-out;
  pointer-events: auto;
  /* Gombok továbbra is kattinthatók */
}

button:hover {
  color: rgb(81, 255, 0);
}

.buttons {
  display: flex;
  height: 92vh;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: flex-end;
}

input {
  text-align: justify;
  height: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  font-size: 0.85rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
  font-family: "Minecraft", serif;
}

.dialogContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  align-items: center;
}

.savingContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  align-items: center;
}

.savingDialog {
  position: absolute;
  background-color: rgb(44, 43, 43);
  width: 40%;
  font-size: 2rem;
  height: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 0;
  border: 2px solid rgba(81, 255, 0.5);
}

.saveInput {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
}

.checkbox-wrapper-22 .switch {
  margin-top: 0.2rem;
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked+.slider {
  background-color: rgb(81, 255, 0);
}

.checkbox-wrapper-22 input:checked+.slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}

.dialogButtons {
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.selectSize {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dialog {
  position: absolute;
  background-color: rgba(44, 43, 43, 1);
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 0;
}

canvas {
  border: 2px solid salmon;
  box-shadow: 0 0 50px 15px #333;
  background-color: white;
  margin-top: 1rem;
}

.bucketActive {
  color: rgb(81, 255, 0);
  border: 2px solid red;
}

.pipetteActive {
  color: rgb(81, 255, 0);
  border: 2px solid red;
}

.drawArea {
  top: 5rem;
  position: absolute;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-left: -2rem;
}

/*Tools*/
.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.color {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  color: rgb(81, 255, 0);
  width: fit-content;
  padding: 0.5rem;
  align-items: center;
}

.bucket {
  font-size: 2rem;
}

.dropdown-wrapper {
  position: relative;
  height: 0;
  /* fontos: így nem foglal helyet */
}

.custom-dropdown {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin: 0 auto;
  z-index: 10;
}

.dropdown-options {
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  border: 1px solid #444;
  font-family: "Minecraft";
  text-align: center;
}

.dropdown-option {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.tag {
  color: rebeccapurple !important;
  background-color: purple;
  border: 1px black solid;
  width: fit-content;
  border-radius: 0.1rem;
}

.dropdown-option:hover {
  background-color: #222;
  border-radius: 0.5rem;

}

@media only screen and (max-width: 1450px) {
  .dialog {
    width: 40%;
    height: 40%;
  }

  .savingDialog {
    width: 50%;
    height: 60%;
  }

  .buttons {
    height: 88vh;
    padding: 0.1rem 0.5rem;
  }

  .check {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0;
    margin-left: -0.5rem;
  }

  .colorLabel {
    display: none;
  }

  .dialogButton {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
  }

  .buttons {
    height: 83vh;
    padding: 0.1rem 0.5rem;
  }

  input {
    height: 2rem;
    font-size: 0.65rem;
  }

  .colorPicker {
    margin: 0 auto;
  }

  .drawArea {
    margin: 0 auto;
  }

  .toolButton {
    width: 3rem;
  }

  .dialog {
    width: 80%;
    height: 30%;
  }

  .dialog input {
    font-size: 0.8rem;
  }

  .dialog button {
    font-size: 1.25rem;
  }

  .savingDialog {
    margin-top: 5rem;
    font-size: 1.25rem;
    width: 90%;
    height: 80%;
  }

  .check {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.25rem;
  }
}

@keyframes flickerAnimation {
  0% {
    box-shadow: rgba(155, 220, 188, 0.05) 0px 0px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  50% {
    box-shadow: rgba(155, 220, 188, 0.5) 0px 0px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  100% {
    box-shadow: rgba(155, 220, 188, 0.05) 0px 0px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}