<div class="container">
    <div class="loginContainer">
        <form #form class="form" ngNativeValidate (ngSubmit)="onSubmit(email.value,pass.value)">
            <div>
                <label for="">E-mail: </label>
                <input #email required type="text">
            </div>
            <div>
                <label for="">Password: </label>
                <input #pass required type="password">
            </div>
            <div>
                <button>Login</button>
                <button style="font-size: 1.35rem;">Forgot password</button>
            </div>
            <div id="hiba"></div>
        </form>
    </div>
</div>