.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.loginContainer {
  display: flex;
  background-color: #949fb8;
  justify-content: center;
  padding: 2rem;
  height: 25rem;
  width: 30rem;
  border-radius: 2rem;
  animation: flickerAnimation 2s infinite;
  box-shadow: rgba(163, 196, 188, 0.05) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.link{
  cursor: pointer;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  justify-content: center;
  color: black;
}

.form div {
  display: flex;
  flex-direction: column;
}

form > div > label {
  margin-left: 0.1rem;
  margin-bottom: 0.5rem;
}

input {
  text-align: justify;
  height: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  font-size: 0.85rem;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
  font-family: "Public Pixel", serif;
}

button {
  border: none;
  border-radius: 0.75rem;
  background-color: #006391;
  color: white;
  height: 3rem;
  width: 14rem;
  margin-top: 1rem;
  font-family: "HISKYFLIPPERHIBOLD", serif;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 15px 40px rgba(0, 0, 0, 0.05);
}

button:hover {
  color: rgb(81, 255, 0);
  transition: 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 15px 40px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 700px) {
  .loginContainer {
    width: 90%;
    height: 50%;
  }

  input {
    height: 2rem;
    font-size: 0.8rem;
  }
  
  button {
    height: 2.5rem;
    width: 8rem;
    margin-top: 1rem;
    margin: 0.225rem auto;
    font-family: "HISKYFLIPPERHIBOLD", serif;
    font-size: 1.5rem;
  }
}

@keyframes flickerAnimation {
  0% {
    box-shadow: rgba(155, 220, 188, 0.05) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  50% {
    box-shadow: rgba(155, 220, 188, 0.5) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  100% {
    box-shadow: rgba(155, 220, 188, 0.05) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
