<div class="container">
    @if(ExpandCard)
    {
    <div class="dialogContainer">
        <div class="dialog">
            <div class="mainContainer">
                <h1 class="name">{{cardName}}</h1>
                <canvas #canvass></canvas>
            </div>
            <div class="dialogButtons">
                <button class="dialogButton" (click)="ExpandCard = false">Cancel</button>
            </div>
        </div>
    </div>
    }

    <h1 class="center show">The Gallery</h1>
    <div class="drawingsContainer">
        <div *ngFor="let item of data" class="drawings">
            <app-drawing-card (expandCard)="onExpand($event)" [profil]="false" [name]="item.name"
                [user_id]="item.user_id" [image_id]="item.image_id" [width]="item.width" [user_name]="item.user_name"
                [hexCodes]="item.hex_codes"></app-drawing-card>
        </div>
    </div>
</div>