.container {
  margin: auto 1.5rem;
  margin-top: 3rem;
}

.drawingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 85vh;
  width: 100%;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 1rem;
  

}

.searchContainer
{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin-bottom: 1rem;
}

.search
{
  display: flex;
  width: fit-content;
  padding: 0.2rem;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 0.33rem;
  background-color: #121212;
}

.searchLabel
{
  user-select: none;
  cursor:text;
  color: gray;
  display: flex;
  align-items: center;
}

input
{
  border: none;
  color: white;
  font-family: 'Minercraftory', sans-serif;
  font-size: 1.1rem;
}

input:focus {
  outline: none;
  border-color: inherit;
  color: inherit;
  background-color: #121212;
}

.p-paginator {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}


button {
  border: none;
  border-radius: 0.75rem;
  background-color: #06212e;
  color: white;
  height: 3rem;
  width: 10rem;
  font-family: "HISKYFLIPPERHIBOLD", serif;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 0rem;
  transition: 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.forkedLabel {
  position: absolute;
  bottom: 4rem;
  font-size: 1.25rem;
  color: rgb(161, 173, 115);
  left: 0px;
  width: 100%;
  text-align: center;
}

button:hover {
  color: rgb(81, 255, 0);
  transition: 0.2s ease-out;
  box-shadow: 0 5px 10px rgba(216, 216, 216, 0.3), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.dialogButtons {
  position: relative;
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

canvas {
  margin-top: 1rem;
}

.dialogContainer {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 1rem;
  text-align: center;
}

.name {
  text-align: center;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  white-space: none;
  word-break: break-all;
  word-wrap: all;
  text-overflow: ellipsis;
  width: 100%;
  /* Biztosítja, hogy kitöltse a szülőt */
  max-width: 100%;
}

.dialog {
  position: absolute;

  background-color: rgba(14, 12, 12, 0.99);
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  padding: 0.1rem 0;
  color: #6dffff;
}

.center {
  display: flex;
  justify-content: center;
  color: rgba(81, 255, 0, 1);
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.p-paginator {
  font-size: 12px !important;
  flex: 1 0 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 0rem;
  }

  .dialog {
    width: 70%;
  }

  .drawingsContainer {
    height: 95vh;
  }
  
}

@media only screen and (max-width: 780px) {
  .dialog {
    width: 80%;
  }

  .container {
    margin-top: 5rem;
  }

  .drawingsContainer {
    height: 80vh;
  }

  .center {
    margin-bottom: 2rem;
  }

  .show {
    display: none;
  }

  input
  {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .dialog {
    width: 90%;
    height: 70%;
  }

  button {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .dialog {
    width: 90%;
    height: 80%;
  }
}