.container {
  margin-top: 5rem;
  margin-left: 2rem;
  color: #a3c4bc;
  font-size: 1.5rem
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.5rem;
  color: #ff0000;
}


@media only screen and (max-width: 768px) {
  .container {
    margin-top: 5rem;
    margin-left: 0.25rem;
    font-size: 1rem;
  }
  .link{
    font-size: 1rem;
  }
  .drawingLabel
  {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
  }

}