<nav class="navbar">
    <div class="left" [class.active]="menuOpen">
        <a (click)="onProfil()" [class.active]="profilOpen" #profile>Profile</a>
        <a #gallery (click)="onDrawings()" [class.active]="drawingsOpen">Drawings</a>
    </div>
    <div class="hamburger" (click)="toggleMenu()">
        @if(menuOpen)
        {
        ✕
        }
        @else {
        ☰
        }
    </div>

    @if(profilOpen){
    <div class="right">
        <app-basic></app-basic>
    </div>
    }

    @if(drawingsOpen)
    {
    <div class="drawingsRight">
        <app-user-drawings></app-user-drawings>
    </div>
    }
</nav>