.left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0rem;
  font-size: 1.25rem;
  background-color: #18212c;
  width: 10%;
  border-radius: 1rem;
  height: 50%;
  padding: 1rem;
}

.navbar {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

a {
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: white;
}

.active {
  color: rgb(81, 255, 0);
}

a:hover {
  color: rgb(81, 255, 0);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 1.6rem;
  top: 7.3rem;
  z-index: 10;
}

.right {
  display: flex;
  background-color: #18212c;
  border-radius: 1rem;
  width: 60%;
  height: 50vh;
  justify-content: flex-start;
  padding: 1rem;
}

.drawingsRight {
  display: flex;
  background-color: #18212c;
  border-radius: 1rem;
  width: 60%;
  height: 85vh;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: center;
  padding: 1rem;
}

@media only screen and (max-width: 1250px) {
  .left {
    width: 15%;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    margin-top: 6rem;
  }

  .right {
    width: 80%;
  }

  .drawingsRight {
    width: 80%;
  }

  .link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    margin-left: 0.1rem;
  }

  .right {
    width: 80%;
    margin-top: 0.5rem;
  }

  .drawingsRight {
    margin-top: 0.5rem;
    height: 78vh;
    width: 80%;
  }

  .link {
    font-size: 1rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0rem;
    font-size: 1.25rem;
    background-color: #18212c;
    width: 20%;
    border-radius: 1rem;
    height: 50%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .left {
    display: none;
    font-size: 1rem;
    flex-direction: column;
    position: absolute;
    top: 7.5rem;
    text-align: left;
    right: 3.5rem;
    width: 7rem;
    height: 25%;
    z-index: 10;
    padding: 1rem;
    border-radius: 1rem;
    background: #070d13;
    /* Világos háttér */
  }

  .left.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    gap: 0.5rem;
  }

  .left.active {
    display: flex;
  }

  .right {
    width: 95%;
  }

  .drawingsRight {
    width: 100%;
  }
}